* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-family: "Belanosima", sans-serif;
}

:root {
    --color-principal: #181823;
    --color-secundario: #fc7300;
    --color-texto: #1f8a70;
    --color-footer: #00425a;
    --color-fondo: #eff5f5;
}


.titulo{
    background-color: #1f8a70;
    text-decoration-color: #181823;
}

.navlist{
    display: flex;
    list-style: none;
    gap: 2rem;
    background-color: #1f8a70;
}

.navbottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1f8a70;
    align-items: center;
    padding:1.5rem;
    gap:1rem
}

.navlogo{
    width: 600px;
    height: 200px;
    border-radius: 0.5rem;
}

.somos {
    padding: 2rem;

    background-color: var(--color-footer);
    color: var(--color-fondo);
    text-align: center;
    justify-content: center;
}

div.somos:hover {
    transition: all 0.2s ease-in;
    background-color: var(--color-secundario);
}

.somos img {
    width: 30%;
    border-radius: 20%;
    height: 10%;
}
.titulo {
    font-size: 2rem;
    color: var(--color-principal);
    padding: 10px 0;
    font-family: "Poppins", sans-serif;
}

.textoParrafo {
    font-size: 1rem;
    color: var(--color-fondo);
    padding: 10px 30px;
    font-family: "Poppins", sans-serif;
}

.cajas {
    padding: 40px 20px;
    background-color: var(--color-footer);
    justify-content: space-evenly;
}

.imagenpresentacion{
    width: 25%;
    padding-top: 1rem;
}

.cajas .col-12:hover {
    transition: all 0.2s ease-in;
    background-color: var(--color-secundario);
}

.formulario button {
    margin: 1rem auto;
    padding: 19px 39px 18px 39px;
    color: #fff;
    background-color: #1f8a70;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 200px;
    border: 1px solid #00425a;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
}
.formularioInscripcion {
    padding: 1rem;
    font-family: "Poppins", sans-serif;
    color: var(--color-fondo);
    background-color: var(--color-secundario);
}

form {
    max-width: 300px;
    margin: 0 auto;
    padding: 15px 20px;
    background: var(--color-footer);
    text-align: center;
}

.formularioInscripcion h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="file"],
textarea,
select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #030303;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

button[type="submit"] {
    padding: 19px 39px 18px 39px;
    color: var(--color-fondo);
    background-color: var(--color-texto);
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid var(--color-texto);
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 30px;
    border: double;
    padding: 0.5rem;
}


footer {
    background-color: var(--color-texto);
    padding: 40px 20px;
}
footer span {
    font-size: 1.5rem;
    color: var(--color-fondo);
}


@media screen and (max-width: 760px) {
    .navbar-brand {
    display: none;
    }

    .header h1 {
    font-size: 3.5rem;
    }
}
@media screen and (min-width: 330px) {
    form {
    max-width: 480px;
    }
}

@media screen and (max-width: 350px) {
    .header p {
    margin: 1rem;
    padding: 0;
    }

    .header h1 {
    font-size: 3rem;
    }


}